{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="main-question">
        <div class="w-100 mt-4 border-bottom">
            <div class="row">
                <div class="col-2">
                    <div class="profile-controls mb-3">
                        <div class="d-flex justify-content-center">
                            <svg class="card-img-top" style="width: 100px; height: 100px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2200 2200" style="enable-background:new 0 0 2200 2200;" xml:space="preserve">
                                <g id="Background">
                                    <rect style="fill:#FFFFFF;" width="2200" height="2200"/>
                                </g>
                                <g id="Objects">
                                    <g>
                                        <radialGradient id="SVGID_1_" cx="742.4818" cy="737.5518" r="1257.2716" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" style="stop-color:#63DFFC"/>
                                            <stop offset="1" style="stop-color:#3F7CD1"/>
                                        </radialGradient>
                                        <path style="fill:url(#SVGID_1_);" d="M1903,1100c0,215.52-84.91,411.21-223.1,555.44C1533.74,1808.01,1327.96,1903,1100,1903    s-433.74-94.99-579.9-247.56C381.91,1511.21,297,1315.52,297,1100c0-443.48,359.52-803,803-803S1903,656.52,1903,1100z"/>
                                        
                                            <radialGradient id="SVGID_00000104698309287865493900000001749800286949306755_" cx="1024.0569" cy="699.494" r="480.5576" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" style="stop-color:#FFFFFF"/>
                                            <stop offset="0.9989" style="stop-color:#D1D1D1"/>
                                        </radialGradient>
                                        <circle style="fill:url(#SVGID_00000104698309287865493900000001749800286949306755_);" cx="1100" cy="815.047" r="328.046"/>
                                        
                                            <radialGradient id="SVGID_00000123438996930488595010000002696201408001185471_" cx="965.7524" cy="1455.6234" r="674.9591" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" style="stop-color:#FFFFFF"/>
                                            <stop offset="0.9989" style="stop-color:#D1D1D1"/>
                                        </radialGradient>
                                        <path style="fill:url(#SVGID_00000123438996930488595010000002696201408001185471_);" d="M1679.9,1655.44    C1533.74,1808.01,1327.96,1903,1100,1903s-433.74-94.99-579.9-247.56c82.54-240.93,311-414.12,579.9-414.12    S1597.36,1414.51,1679.9,1655.44z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="text" class="form-control text-center" value="5" style="max-width: 40px;">
                            <button class="btn btn-outline-secondary d-flex flex-column py-1" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659L8.753 4.86a1 1 0 0 0-1.506 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill mt-1" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.656C1.885 5.026 2.345 4 3.2 4h9.6c.856 0 1.316 1.026 .75 1.656l-4.8 5.484a1 1 0 01-1.414 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-info col-10">
                    <h3 class="mt-2">How to built a moon park ?</h3>
                    <h6>Guys, i have trouble with a moon park. <br>
                        Can't find th black-jack... Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                        Sequi nulla minima perferendis at id sint quidem ipsa minus laboriosam.
                    </h6>
                    <div class="d-flex flex-row">
                        <span class="">Tags:</span>
                        <a href="" class="ml-2">black-jack</a>
                        <a href="" class="ml-2">bender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="d-flex flex-column">

            {% for answer in answers %}
            <div class="card w-100 mt-4">
                <div class="row">
                    <div class="col-2">
                        <div class="profile-controls mb-3">
                            <div class="d-flex justify-content-center">
                                <svg class="card-img-top" style="width: 80px; height: 80px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2200 2200" style="enable-background:new 0 0 2200 2200;" xml:space="preserve">
                                    <g id="Background">
                                        <rect style="fill:#FFFFFF;" width="2200" height="2200"/>
                                    </g>
                                    <g id="Objects">
                                        <g>
                                            <radialGradient id="SVGID_1_" cx="742.4818" cy="737.5518" r="1257.2716" gradientUnits="userSpaceOnUse">
                                                <stop offset="0" style="stop-color:#63DFFC"/>
                                                <stop offset="1" style="stop-color:#3F7CD1"/>
                                            </radialGradient>
                                            <path style="fill:url(#SVGID_1_);" d="M1903,1100c0,215.52-84.91,411.21-223.1,555.44C1533.74,1808.01,1327.96,1903,1100,1903    s-433.74-94.99-579.9-247.56C381.91,1511.21,297,1315.52,297,1100c0-443.48,359.52-803,803-803S1903,656.52,1903,1100z"/>
                                            
                                                <radialGradient id="SVGID_00000104698309287865493900000001749800286949306755_" cx="1024.0569" cy="699.494" r="480.5576" gradientUnits="userSpaceOnUse">
                                                <stop offset="0" style="stop-color:#FFFFFF"/>
                                                <stop offset="0.9989" style="stop-color:#D1D1D1"/>
                                            </radialGradient>
                                            <circle style="fill:url(#SVGID_00000104698309287865493900000001749800286949306755_);" cx="1100" cy="815.047" r="328.046"/>
                                            
                                                <radialGradient id="SVGID_00000123438996930488595010000002696201408001185471_" cx="965.7524" cy="1455.6234" r="674.9591" gradientUnits="userSpaceOnUse">
                                                <stop offset="0" style="stop-color:#FFFFFF"/>
                                                <stop offset="0.9989" style="stop-color:#D1D1D1"/>
                                            </radialGradient>
                                            <path style="fill:url(#SVGID_00000123438996930488595010000002696201408001185471_);" d="M1679.9,1655.44    C1533.74,1808.01,1327.96,1903,1100,1903s-433.74-94.99-579.9-247.56c82.54-240.93,311-414.12,579.9-414.12    S1597.36,1414.51,1679.9,1655.44z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="d-flex justify-content-center">
                                <input type="text" class="form-control text-center" value="5" style="max-width: 40px;">
                                <button class="btn btn-outline-secondary d-flex flex-column py-1" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659L8.753 4.86a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-caret-down-fill mt-1" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.656C1.885 5.026 2.345 4 3.2 4h9.6c.856 0 1.316 1.026 .75 1.656l-4.8 5.484a1 1 0 01-1.414 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-info col-10">
                        <h6 class="mt-3">{{ answer.text }}
                        </h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkChecked1" checked>
                            <label class="form-check-label" for="checkChecked">
                                Correct!
                            </label>
                        </div>  
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    <div class="mt-4">
        <div class="d-flex flex-row">

            {% include "layout/pagination.html" %}

        </div>
    </div>
    <div class="w-100 mt-4 pt-4 border-top">
        <textarea maxlength="1000" rows="4" type="text" class="form-control" placeholder="Enter your answer header"></textarea>
    </div>
    <button class="btn btn-lg border btn-outline-primary mt-3">Answer</button>
</div>
{% endblock %}
