{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>AskPupkin - Main Page</title>
</head>
<body>
    <header class="bg-light border-bottom">
        <div class="container">
            <div class="row align-items-center py-3">
                <div class="col-md-3">
                    <a href="/">
                        <h1 class="h3 mb-0 text-primary">AskPupkin</h1>
                    </a>
                </div>
                <div class="col-md-6">
                    <form class="d-flex" action="">
                        <input type="text" class="form-control" placeholder="Search..">
                        <button class="btn btn-primary">ASK!</button>
                    </form>
                </div>

                <div class="col-md-3">
                    <div class="d-flex align-items-center justify-content-end">
                        {% if request.user.is_authenticated %}
                            <div class="avatar me-2">
                                {% if request.user.profile.avatar %}
                                    <img src="{{ request.user.profile.avatar.url }}"
                                        alt="{{ request.user.username }}"
                                        class="rounded-circle"
                                        style="width: 50px; height: 50px; object-fit: cover;">
                                {% else %}
                                    <svg class="card-img-top" style="width: 50px; height: 50px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2200 2200" style="enable-background:new 0 0 2200 2200;" xml:space="preserve">
                                        <g id="Background">
                                            <rect style="fill:#FFFFFF;" width="2200" height="2200"/>
                                        </g>
                                        <g id="Objects">
                                            <g>
                                                <radialGradient id="SVGID_1_" cx="742.4818" cy="737.5518" r="1257.2716" gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" style="stop-color:#63DFFC"/>
                                                    <stop offset="1" style="stop-color:#3F7CD1"/>
                                                </radialGradient>
                                                <path style="fill:url(#SVGID_1_);" d="M1903,1100c0,215.52-84.91,411.21-223.1,555.44C1533.74,1808.01,1327.96,1903,1100,1903    s-433.74-94.99-579.9-247.56C381.91,1511.21,297,1315.52,297,1100c0-443.48,359.52-803,803-803S1903,656.52,1903,1100z"/>
                                                
                                                    <radialGradient id="SVGID_00000104698309287865493900000001749800286949306755_" cx="1024.0569" cy="699.494" r="480.5576" gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" style="stop-color:#FFFFFF"/>
                                                    <stop offset="0.9989" style="stop-color:#D1D1D1"/>
                                                </radialGradient>
                                                <circle style="fill:url(#SVGID_00000104698309287865493900000001749800286949306755_);" cx="1100" cy="815.047" r="328.046"/>
                                                
                                                    <radialGradient id="SVGID_00000123438996930488595010000002696201408001185471_" cx="965.7524" cy="1455.6234" r="674.9591" gradientUnits="userSpaceOnUse">
                                                    <stop offset="0" style="stop-color:#FFFFFF"/>
                                                    <stop offset="0.9989" style="stop-color:#D1D1D1"/>
                                                </radialGradient>
                                                <path style="fill:url(#SVGID_00000123438996930488595010000002696201408001185471_);" d="M1679.9,1655.44    C1533.74,1808.01,1327.96,1903,1100,1903s-433.74-94.99-579.9-247.56c82.54-240.93,311-414.12,579.9-414.12    S1597.36,1414.51,1679.9,1655.44z"/>
                                            </g>
                                        </g>
                                    </svg>
                                {% endif %}
                            </div>
                            <div class="user-info">
                                <div>{{ request.user.username }}</div>
                                <div class="account-links">
                                    <a href="{% url 'profile_edit' %}" class="text-decoration-none me-2">settings</a>
                                    <a href="{% url 'logout' %}" class="text-decoration-none">log out</a>
                                </div>
                            </div>
                        {% else %}
                            <div>
                                <a href="{% url 'login' %}" class="me-2">Log in</a>
                                <a href="{% url 'signup' %}">Sign up</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            {% if message.tags != 'error' %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <main class="container my-4">
        <div class="row">
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Popular Tags</h5>
                            <div class="tags">
                                {% for tag in tags %}
                                    <a href="/?tag={{ tag.name }}" 
                                    class="btn btn-sm {% if tag.name == active_tag %}btn-primary{% else %}btn-outline-primary{% endif %} mb-1">
                                        {{ tag.name }}
                                    </a>
                                {% empty %}
                                    <span>Нет тегов</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Best Members</h5>
                            <div class="members">
                                <a href="#" class="d-block text-decoration-none mb-2">Mr. Freeman</a>
                                <a href="#" class="d-block text-decoration-none mb-2">Dr. House</a>
                                <a href="#" class="d-block text-decoration-none mb-2">Bender</a>
                                <a href="#" class="d-block text-decoration-none mb-2">Queen Victoria</a>
                                <a href="#" class="d-block text-decoration-none mb-2">V. Pupkin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="bg-light border-top">
        <div class="container">
            <div class="py-3">
                <div class="mb-2 mb-md-0">
                    <span class="">Страницы:</span>
                    <a href="/" class="">Index</a>
                    <a href="ask" class="">Ask</a>
                    <a href="question" class="">Question</a>
                    <a href="login" class="">Login</a>
                    <a href="register" class="">Register</a>
                    <a href="settings" class="">Settings</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>